<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/global.css" />

<link rel="stylesheet" type="text/css" href="css/edit.css" />
<title>Matchs</title>
<div th:replace="fragments/header :: header-css"></div>

</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="tab-content">
		<div class="tab-pane active" id="compose">
			<div class="container col-md-12">
				<div class="content-container clearfix">

					<div th:if="${isEmpty}">
						<blockquote class="blockquote text-center">
							<h1>Você já olhou todos os usuários, volte mais tarde</h1>
						</blockquote>
					</div>
					<div th:if="${msg eq 'acceptedMatch'}"
						class="alert alert-success alert-dismissable">
						<button type="button" class="close" data-dismiss="alert"
							aria-hidden="true">&times;</button>
						<strong> Parabéns, vc formou um match com: </strong>
						<p th:text="${userMatch.name}"></p>
					</div>
					<div th:if="${msg eq 'waitingMatch'}"
						class="alert alert-success alert-dismissable">
						<button type="button" class="close" data-dismiss="alert"
							aria-hidden="true">&times;</button>
						<strong> Vamos aguardar a resposta do(a)</strong>
						<p th:text="${userMatch.name}"></p>
					</div>
					<div th:if="${msg eq 'waitingMatch'}"
						class="alert alert-success alert-dismissable">
						<button type="button" class="close" data-dismiss="alert"
							aria-hidden="true">&times;</button>
						<strong> Vamos aguardar a resposta do(a)</strong>
						<p th:text="${userMatch.name}"></p>
					</div>
					<div th:if="${msg eq 'ignoredMatch'}"
						class="alert alert-success alert-dismissable">
						<button type="button" class="close" data-dismiss="alert"
							aria-hidden="true">&times;</button>
						<strong> Você ignorou o(a)</strong>
						<p th:text="${userMatch.name}"></p>
					</div>
					<div th:if="${msg eq 'rejectedMatch'}"
						class="alert alert-success alert-dismissable">
						<button type="button" class="close" data-dismiss="alert"
							aria-hidden="true">&times;</button>
						<strong> Infelizmente nenhum serviço seu é o desejado
							pelo(a)</strong>
						<p th:text="${userMatch.name}"></p>
					</div>
					<div class="row">
						<div class="col-md-4" th:each="user : ${allUsers}">
							<div class="well">
								<div class="caption">
									<h3 th:text="${user.name}"></h3>
									<p th:text="${user.age}"></p>

									<div th:each="competence : ${user.competences}">

										<h3 th:if="${competence.description != null}"
											th:text="${competence.description}"></h3>
										<p th:if="${competence.categorie != null}"
											th:text="${competence.categorie}"></p>

									</div>


									<p>
										<a th:href="@{/match/request/{id}(id=${user.id})}"><span
											class="btn btn-primary">Solicitar Serviço</span></a> <a
											th:href="@{/match/ignore/{id}(id=${user.id})}"><span
											class="btn btn-warning">ignorar</span></a>
									</p>
								</div>
							</div>
						</div>

					</div>


				</div>
			</div>
		</div>
	</div>

	<footer>
		<div class="separator" th:replace="fragments/footer :: footer">&copy;</div>
	</footer>

	<script>

</script>
</body>
</html>
