<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Register</title>
<meta name="description" content="spring-boot thymeleaf | Register ">
<!--  jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<div th:replace="fragments/header :: header-login-css"></div>

</head>
<body>
	<br />
	
	<hr />
	<div class="separator"></div>
	<div class="row">
		<div class="container">
			<div class="login-register-form-section">
				<ul class="nav nav-tabs" role="tablist">
					<li class="col-xs-6"><a th:href="@{/login}">Login</a></li>
					<li class="col-xs-6"><a class="active" href="#register" data-toggle="tab">Register</a></li>

				</ul>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="register">

						<div th:if="${saveUser eq 'success'}" class="alert alert-success alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>User registered Successfully</strong> Please Login
						</div>

						<div th:if="${saveUser eq 'exist-name'}" class="alert alert-danger alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>Error!</strong> User name already used !!!
						</div>
						<div th:if="${saveUser eq 'exist-email'}" class="alert alert-danger alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>Error!</strong> User email already used !!!
						</div>
						<div th:if="${saveUser eq 'fail'}" class="alert alert-danger alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>Error!</strong> Unexpected error !!!
						</div>

						<form id="registerForm" th:object="${reqUser}" th:action="@{/user/register}" method="post"
							class="form-horizontal">
							<label class="control-label " for="select"> Dados Pessoais </label>

							<div class="form-group ">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-user"></i>
									</div>
									<input th:field="*{name}" type="text" name="register_name" class="form-control" placeholder="nome"
										required="required" value="" />
								</div>
							</div>

							<div class="form-group ">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-user"></i>
									</div>
									<select th:field="*{gender}" class="select form-control" id="select" name="select">
										<option value="null">Genero</option>
										<option th:each="value : ${T(br.com.projetoTcc.utils.Gender).values()}" th:value="${value}"
											th:text="${value}">
									</option>
									</select>

								</div>
							</div>
 

							<label class="control-label " for="select"> Data de Nascimento</label>
							<div class="form-group ">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
									<input th:field="*{birthDate}" class="form-control" type="text" placeholder="dd/mm/aaaa">
								</div>
							</div>

							<label class="control-label " for="select"> Endereco</label>
							<div class="form-group ">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="glyphicon glyphicon-home"></i>
									</div>
									<input th:field="*{address.street}" type="text" name="register_username" class="form-control"
										placeholder="Rua" required="required"/>
									<input th:field="*{address.number}" type="text" name="register_username" class="form-control"
										placeholder="Número" required="required"/>
								</div>
							</div>
							<div class="form-group ">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="glyphicon glyphicon-home"></i>
									</div>
									<input th:field="*{address.district}" type="text" name="register_email" class="form-control"
										placeholder="Bairro" required="required" value="" />
								</div>
							</div>

							<div class="form-group ">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="glyphicon glyphicon-home"></i>
									</div>
									<input th:field="*{address.city}" type="text" name="register_email" class="form-control"
										placeholder="Cidade" required="required" />
								</div>
							</div>

							<div class="form-group ">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="glyphicon glyphicon-home"></i>
									</div>
									<input th:field="*{address.street}" type="text" name="register_email" class="form-control"
										placeholder="País" required="required" value="" />
								</div>
							</div>


							<label class="control-label " for="select"> Dados da conta</label>
							<div class="form-group ">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-envelope"></i>
									</div>
									<input th:field="*{username}" type="text" name="register_username" class="form-control"
										placeholder="Username" required="required" value="" />
								</div>
							</div>

							<div class="form-group ">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-envelope"></i>
									</div>
									<input th:field="*{email}" type="email" name="register_email" class="form-control"
										placeholder="Email" required="required" />
								</div>
							</div>


							<label class="control-label " for="select"> Senha</label>
							<div class="form-group ">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-lock"></i>
									</div>
									<input th:field="*{password}" type="password" name="register_password" class="form-control"
										id="password" placeholder="Password" required="required" />
								</div>
							</div>
							<div class="form-group ">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-lock"></i>
									</div>
									<input th:field="*{password_2}" type="password" name="register_cpassword" class="form-control"
										id="confirm_password" placeholder="Confirm Password" required="required" />
								</div>
							</div>


							<input type="submit" value="Register" class="btn btn-success btn-custom" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footerSeparator"></div>

	<script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
	<script>
    var password = document.getElementById("password")
            , confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>

</body>
</html>