<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="utf-8"/>

</head>
<body>
<div th:fragment="footer">
    <!-- Footer -->
	<footer class="page-footer">

	  <!-- Copyright -->
	  <div class="footer-copyright text-center">© 2018 Copyright:
	    <a href="https://github.com/ricardom-oliveira/projetoTcc"> projeto Tcc</a>
	  </div>
	  <!-- Copyright -->
  	  <div class="footer text-center">Contate-nos
	    <p> (51) 99289-8957 </p>
	    <p> tigor.ricardo@hotmail.com </p>
	  </div>
</footer>
<!-- Footer -->
</div>
</body>
</html>

